@model Obligatorio.Models.ProyectoModel

@{
    ViewBag.Title = "Financiar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Financiar</h2>

<div>
    <h4>ProyectoModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cuotas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cuotas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rutaImagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rutaImagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaPresentacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaPresentacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.puntaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.puntaje)
        </dd>

    </dl>
</div>
<form method="post" action="/Inversor/Financiar">
    <div class="form-group">
        <label for="monto">Monto a invertir</label>
        <input type="text" class="form-control" name="monto" id="monto" placeholder="ingrese monto" required>
    </div>
    <button type="submit" value="invertir"></button>
</form>
    <p>
        @Html.ActionLink("Filtrar", "Filtrar")
    </p>
